 
<!-- extend from admin layout -->
{% extends "admin.html" %}

{% block content %}
<h1>Ajouter un livre à la base de données</h1>
<form action="" method="post" name="add_book">
    {{form.hidden_tag()}}
	<p>ISBN 13 (EAN) :		{{form.ean}}</p>
	<p>ISBN :			{{form.isbn}}</p>
	<p>Titre (obligatoire) :	{{form.title}}</p>
	<p>Maison d'édition :		{{form.publisher}}</p>
	<p>epaisseur (cm) :		{{form.thickness}}</p>
	<p>longueur (cm) :		{{form.length}}</p>
	<p>largeur (cm) :		{{form.width}}</p>
	<p>masse (kg) :			{{form.mass}}</p>
	<p>Nombre de pages :		{{form.numberofpages}}</p>
    <p>Quatrième de couverture :	{{form.summary}}</p>
    <p><input type="submit" value="Envoyez"></p>
</form>
{% endblock %}