 
<!-- extend from admin layout -->
{% extends "admin.html" %}

{% block content %}
<h1>Ajouter un auteur à la base de données</h1>
<form action="" method="post" name="add_author">
    {{form.hidden_tag()}}
    <p>Veuillez donner son prénom (obligatoire) : {{form.firstname}}</p>
    <p>Nom de famille (obligatoire) : {{form.familyname}}</p>
    <p>Nationalité : {{form.nationality}}</p>
    <p>Lieu de naissance : {{form.placeofbirth}}</p>
    <p>Date de naissance (Y-m-d): {{form.dateofbirth}}</p>
    <p>Site web : {{form.website}}</p>
    <p>Biographie : {{form.biography}}</p>
   <p><input type="submit" value="Envoyer"></p>
</form>
{% endblock %}