<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <div>Bib'lib: <a href="/index">Home</a> | <a href="/admin">administration</a> | <a href="/edit_book">Ajouter un livre</a> | <a href="/edit_author">Ajouter un auteur</a> | <a href="/search_amazon_book">Chercher un livre avec Amazon</a></div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>