
<!-- extend from admin layout -->
{% extends "base.html" %}
{% block content %}

{% if book.img %}
<img src="/covers/{{book.id}}" alt="couverture de {{book.title}}" width="150px"/>
{% endif %}

<ul id="texte">
<li><h2>Titre : </h2><p>{{book.title}}</p></li>

{% for author in book.authors %}
<li><h3>Auteur : </h3><p><a href="/author/{{author.id}}">{{author}}</a></p></li>
{% endfor %}
</li>

{% if book.ean != 0 %}
<li><h3>ISBN 13 (EAN) : </h3><p>{{book.ean}}</p></li>
{% endif %}

{% if book.isbn != 0 %}
<li><h3>ISBN : </h3><p>{{book.isbn}}</p></li>
{% endif %}

{% if book.publisher %}
<li><h3>Maison d'édition : </h3><p>{{book.publisher}}</p></li>
{% endif %}

{% if book.summary %}
<li><h3>Quatrième de couverture : </h3><p>{{book.summary}}</p></li>
{% endif %}

{% endblock %}