<!-- extend from admin layout -->
{% extends "admin.html" %}

{% block content %}
{% if author.firstname %}
<h1>Ajouter ou éditer l'auteur <i>{{author}}</i> de la bibliothèque</h1>
    {% else %}
<h1>Ajouter un auteur dans la bibliothèque</h1>
{% endif %}
<form action="" method="post" name="edit_author" enctype="multipart/form-data">
 
    {{form.hidden_tag()}}
    <div id="formulaire">
    <aside>
    <p><label for="firstname">Veuillez donner son prénom (obligatoire) : </label>{{form.firstname(value=author.firstname)}}</p>
    <p><label for="familyname">Nom de famille (obligatoire) : </label>{{form.familyname(value=author.familyname)}}</p>
    <p><label for="nationality">Nationalité : </label>{{form.nationality(value=author.nationality)}}</p>
    <p><label for="placeofbirth">Lieu de naissance : </label>{{form.placeofbirth(value=author.placeofbirth)}}</p>
    <p><label for="website">Site web : </label>{{form.website(value=author.website)}}</p>
    <p>Photo : {{form.portrait}}</p>
    </aside>
    <aside>
    <h1>Livres</h1>
    {% if author.books %}
    <h3>Livres à enlever</h3>
     <ul>
    {% for book in author.books %}
    <li>{{form.booktodelete(value = book.id)}} {{book.id}} - {{book.title}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
    <h3>Livres à ajouter</h3>
    <p><label>Livre   : </label>{{form.booktoadd}}</p>
    <p><label>Livre 2 : </label>{{form.booktoadd}}</p>
    <p><label>Livre 3 : </label>{{form.booktoadd}}</p>
    </aside>
    </div>
    <div id="text">
    <p>Biographie : </p>
	<p><textarea name="biography" rows="20">{{author.biography}}</textarea></p>
    </div>
    <div id = "image">
    {% if author.img %}
	<p>Portrait de l'auteur {{author}}.</p>
	<img src="/static/photos/{{author.id}}" alt="{{author}}" />
	<p>Si vous voulez enregistrer une autre image, il vous suffit d'utiliser le champ d'upload du formulaire.</p>
	{% endif %}
    </div>
   <p><input type="submit" value="Envoyer"></p>
</form>
{% endblock %}